[build]
  functions = "netlify/functions"

[functions]
  node_bundler = "esbuild"

# Force Netlify to use Node 18 (Neon supported)
[build.environment]
  NODE_VERSION = "18"

[[redirects]]
  from = "/api/*"
  to = "/.netlify/functions/:splat"
  status = 200
